.card-header {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.card-img-top {
  height: 150px;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.card-text {
  font-size: 14px;
}

.text-muted {
  color: gray;
}
