<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center my-4">Lista de Pokémons</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 pokemon-filter">
      <app-pokemon-filter
        (filterChange)="onFilterChange($event)"
      ></app-pokemon-filter>
    </div>
  </div>
  <div class="row">
    <div
      class="col-12 col-md-6 col-lg-4"
      *ngFor="let pokemon of filteredPokemons"
    >
      <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
    </div>
  </div>
</div>
